.header_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 60px;
  height: 100%;
  position: relative;
}

.show {
  display: flex !important;
}

@keyframes slideIn {
  from {
    height: 0;
  }

  to {
    height: auto;
  }
}

.nav_bar {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  overflow: hidden;
  transition: slideIn 0.3s ease;
  width: 100%;
  order: -1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav_bar__link {
  font:
    700 16px/20px 'Montserrat',
    sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav_bar__link:hover {
  color: #bbbbbb;
}

.btn_close {
  border: none;
  top: 23px;
  left: 38px;
  width: 12px;
  height: 12px;
  background: url('../public/Image/Icons/x-lg.svg');
  position: absolute;
  cursor: pointer;
}

.header_user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 60px;
  min-width: 20px;
  margin: 0 20px 0 0;
}

.header_logo {
  display: flex;
  justify-content: center;
}

.header_logo__icons {
  width: 50px;
  height: 50px;
}

.header_cart {
  display: flex;
  align-items: center;
}

.header_cart__sum {
  display: none;
  justify-content: center;
  align-items: center;
  font:
    700 22px/22px 'Montserrat',
    sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 20px 0 0;
}

.header_cart__currency {
  background: url('../public/Image/Icons/Ruble.svg');
  width: 22px;
  height: 22px;
}

.header_logo_withMargin {
  margin: 0 0 0 20px;
}

.header_cart__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font:
    300 13px/15px 'Open Sans',
    sans-serif;
  color: #ffffff;
}

.header_cart__icons {
  display: block;
  position: relative;
  background: url('../public/Image/Icons/cart.svg');
  width: 22px;
  height: 22px;
}

.header_cart__count {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 22px;
  height: 22px;
  left: 10px;
  bottom: 10px;
  background: #dc533c;
  border-radius: 100px;
  font:
    700 14px/20px 'Montserrat',
    sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}

.header_user__login {
  display: none;
  text-decoration: none;
  background: url('../public/Image/Icons/person-circle2.svg');
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 800px) {
  .header_nav {
    flex-wrap: nowrap;
  }

  .header_logo {
    margin: 0 0 0 20px;
  }

  .nav_bar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    border-bottom: none;
    order: 0;
    width: 580px;
  }
}

@media screen and (min-width: 979px) {
  .header_nav {
    justify-content: space-evenly;
  }

  .nav_bar {
    justify-content: space-between;
  }

  .header_cart__icons {
    margin: 0 20px 0 0;
  }

  .header_cart__sum {
    display: flex;
  }

  .header_user {
    margin: 0 0 0 0;
  }

  .header_logo {
    margin: 0;
  }

  .header_user__login {
    display: flex;
    margin: 0 20px 0 0;
    width: 32px;
    height: 31px;
  }
}

@media screen and (min-width: 1200px) {
  .header_cart {
    width: 250px;
  }
  .header_cart__icons {
    margin: 0 15px;
  }
}

@media screen and (min-width: 1550px) {
  .header_nav {
    width: 1150px;
    justify-content: space-evenly;
    margin: 0 auto;
  }
  .header_content {
    padding: 0;
    margin: 171px auto 0 auto;
  }
}
